@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
/* Define um conjunto de regras para todos os elementos HTML */
* {
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    box-sizing: border-box; /* Garante que a largura/altura inclui bordas e preenchimento */
    list-style: none; /* Remove marcadores de lista padrão */
    border: none; /* Remove bordas padrão */
    text-decoration: none; /* Remove decorações de texto padrão, como sublinhado em links */
    font-family: 'Roboto', sans-serif; /* Define uma fonte padrão para todos os elementos */
}

/* Define estilos para o elemento HTML raiz */
html {
    width: 100vw; /* Largura igual à largura da janela de visualização */
    height: 100vh; /* Altura igual à altura da janela de visualização */
    font-size: 62.5%; /* Tamanho da fonte padrão, equivalente a 10 pixels (1rem = 10px) */
    overflow-x: hidden; /* Oculta a rolagem horizontal da janela de visualização */
}


/* MENU */

/* Estilo para o contêiner principal */
.content {
    width: 100vw; /* Largura igual à largura da janela */
    height: 70px; /* Altura de 70 pixels */
    display: flex;
    justify-content: space-around; /* Espaço uniforme entre os elementos internos */
    align-items: center; /* Centraliza verticalmente */
    background-color: #1f1e1f; /* Cor de fundo */
    position: fixed; /* Posição fixa na janela de visualização */
    padding-left: 30rem; /* Espaço à esquerda de 30rem */
}

/* Estilo para o logotipo */
.logo {
    width: 50px; /* Largura fixa do logotipo */
    height: auto; /* Altura automática para manter a proporção */
    cursor: pointer; /* Cursor de apontador ao passar o mouse */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo para o título do logotipo */
.logo h3 {
    color: white; /* Cor do texto branca */
    font-size: 1.6rem; /* Tamanho da fonte */
    white-space: nowrap; /* impede a quebra de linha */
}

/* Estilo para a imagem do logotipo */
.logo img {
    width: 100%; /* Largura de 100% para preencher o espaço */
    height: 100%; /* Altura de 100% para preencher o espaço */
}

/* Estilo para a lista de menu */
.content .list-menu {
    width: 600px; /* Largura fixa da lista de menu */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaço uniforme entre os itens de menu */
}

/* Estilo para os itens de menu */
.content .list-menu li a {
    padding: 3rem 2rem 1rem 1rem; /* Espaçamento interno */
    color: white; /* Cor do texto branca */
    font-size: 1.8rem; /* Tamanho da fonte */
    text-transform: uppercase; /* Transformação de texto para maiúsculas */
    font-weight: 500; /* Peso da fonte */
    transition: all 200ms ease-in; /* Efeito de transição suave */
}

/* Estilo para os itens de menu ao passar o mouse */
.content .list-menu li a:hover {
    background-color: #3333; /* Cor de fundo ao passar o mouse */
    border-bottom: 4px solid #ffc506; /* Borda inferior ao passar o mouse */
    color: #ffc506; /* Cor do texto ao passar o mouse */
}



/* Estilo para a primeira seção */
.first-section {
    height: 100vh; /* Altura igual à altura da janela de visualização */
    background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(./img/background.png); /* Imagem de fundo */
    background-position: center center; /* Posição do plano de fundo */
    background-size: cover; /* Tamanho do plano de fundo */
    background-repeat: no-repeat; /* Repetição do plano de fundo */
    width: 100vw; /* Largura igual à largura da janela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Estilo para o conteúdo principal da primeira seção */
.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

/* Estilo para o título da primeira seção */
.first-section h1 {
    color: #ffc506; /* Cor do texto amarelo */
    font-size: 6rem; /* Tamanho da fonte */
    text-transform: uppercase; /* Transformação de texto para maiúsculas */
    margin-bottom: 1rem; /* Margem inferior */
}

/* Estilo para o subtítulo da primeira seção */
.first-section h2 {
    color: rgb(177, 177, 177); /* Cor do texto cinza */
    font-size: 3rem; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    text-transform: uppercase; /* Transformação de texto para maiúsculas */
}

/* Estilo para o botão na primeira seção */
.btn button {
    width: 230px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    cursor: pointer; /* Cursor de apontador */
    text-transform: uppercase; /* Transformação de texto para maiúsculas */
    background-color: #ffc506; /* Cor de fundo amarela */
    border-radius: 10px; /* Raio da borda */
    color: black; /* Cor do texto */
    font-weight: 600; /* Peso da fonte */
    margin-top: 5rem; /* Margem superior */
    margin-left: 12rem; /* Margem esquerda */
    transform: all 400ms ease-in; /* Efeito de transformação */
}

/* Estilo para o botão ao passar o mouse */
.btn button:hover {
    border: 1px solid #ffc506; /* Borda ao passar o mouse */
    background-color: transparent; /* Cor de fundo transparente */
    color: #ffc506; /* Cor do texto amarelo ao passar o mouse */
}

/* Estilo para o contêiner do botão */
.btn {
    width: 480px; /* Largura do contêiner do botão */
    display: flex; /* Exibição flexível */
}

/* Estilo para a seção "Sobre Nós" */
.sobre-nos {
    background-color: #1f1e1f; /* Cor de fundo preto escuro */
    width: 100%; /* Largura ocupando toda a tela */
    padding-bottom: 5rem; /* Espaço extra na parte inferior */
    color: white; /* Texto em branco */
    display: flex; /* Conteúdo disposto em linha horizontal */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo para imagens dentro da seção "Sobre Nós" */
.sobre-nos img {
    width: 400px; /* Largura da imagem */
    height: 400px; /* Altura da imagem */
    margin-top: 10rem; /* Margem superior grande */
    margin-left: 10rem; /* Margem esquerda grande */
    margin-right: 15rem; /* Margem direita grande */
    border: 2px solid rgb(155,155,155); /* Borda da imagem */
}

/* Estilo para a classe "main" (não fornecido no código) */

/* Estilo para elementos com a classe "contentsobre" */
.contentsobre {
    display: flex; /* Conteúdo disposto em coluna */
    flex-direction: column; /* Coluna como direção principal */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo para cabeçalhos <h2> dentro da classe "contentsobre" */
.contentsobre h2 {
    font-size: 6rem; /* Tamanho grande de fonte */
    margin-bottom: 1rem; /* Margem inferior pequena */
}

/* Estilo para parágrafos <p> dentro da classe "contentsobre" */
.contentsobre p {
    text-align: center; /* Texto centralizado */
    font-size: 1.8rem; /* Tamanho da fonte */
    width: 600px; /* Largura máxima de 600px */
}

/* Cardapio*/

/* Estilo para a seção "Cardápio" */
.cardapio {
    width: 100vw; /* Largura total da tela */
    display: flex; /* Conteúdo disposto em coluna */
    flex-direction: column; /* Coluna como direção principal */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background-color: rgba(12, 12, 12, 0.8); /* Cor de fundo com transparência */
}

/* Estilo para cabeçalhos <h2> dentro da seção "Cardápio" */
.cardapio h2 {
    font-size: 5rem; /* Tamanho grande de fonte */
    color: #e6e6e6; /* Cor do texto */
    text-transform: uppercase; /* Texto em maiúsculas */
}

/* Estilo para a classe "itens-cardapio" */
.itens-cardapio {
    width: 80%; /* Largura de 90% */
    margin-top: 2rem; /* Margem superior de 2rem */
    margin-bottom: 2rem; /* Margem inferior de 2rem */
    display: grid; /* Conteúdo disposto em grade */
    grid-template-columns: repeat(auto-fit, minmax(250px,550px)); /* Colunas flexíveis na grade */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 30px; /* Espaço entre os elementos */
}


/* Estilo para elementos com a classe "info" dentro de elementos com a classe "itens-cardapio" */
.itens-cardapio .info {
    background-color: rgb(221, 221, 221); /* Cor de fundo cinza claro */
    border: none; /* Sem borda */
    display: flex; /* Conteúdo disposto em linha vertical */
    flex-direction: column; /* Coluna como direção principal */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    padding: 1.5rem; /* Espaçamento interno */
}

/* Estilo para cabeçalhos <h3> dentro de elementos com a classe "info" dentro de elementos com a classe "itens-cardapio" */
.itens-cardapio .info h3 {
    font-size: 1.8rem; /* Tamanho da fonte */
    text-transform: uppercase; /* Texto em maiúsculas */
    margin-bottom: 1rem; /* Margem inferior */
    text-decoration: underline; /* Sublinhado */
}

/* Estilo para cabeçalhos <h4> dentro de elementos com a classe "info" dentro de elementos com a classe "itens-cardapio" */
.itens-cardapio .info h4 {
    color: rgb(76, 76, 76); /* Cor do texto */
    font-size: 1.2rem; /* Tamanho da fonte */
    margin-bottom: 0.6rem; /* Margem inferior */
    display: grid; /* Conteúdo disposto em grade */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 470px; /* Largura máxima de 470px */
    margin-left: 6rem; /* Margem esquerda grande */
}

/* Estilo para elementos <div> dentro de elementos com a classe "itens-cardapio" */
.itens-cardapio div {
    background-color: #5e5252; /* Cor de fundo marrom */
    box-shadow: 0px 0px 4px 1px; /* Sombra */
}

/* Estilo para imagens <img> dentro de elementos com a classe "itens-cardapio" */
.itens-cardapio img {
    width: 100%; /* Largura de 100% */
    height: 200px; /* Altura de 200px */
}

/* Estilo para elementos com a classe "pedir" dentro de elementos com a classe "info" dentro de elementos com a classe "itens-cardapio" */
.itens-cardapio .info .pedir {
    width: 200px; /* Largura de 200px */
    height: 35px; /* Altura de 35px */
    font-size: 1.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    margin-top: 0.5rem; /* Margem superior pequena */
    background-color: #ffc506; /* Cor de fundo amarela */
    border-radius: 5px; /* Borda arredondada */
    text-transform: uppercase; /* Texto em maiúsculas */
    cursor: pointer; /* Cursor do mouse de mão */
    color: black; /* Cor do texto */
    transition: all 200ms ease-in; /* Transição suave de animação */
}

/* Estilo para elementos com a classe "pedir" quando o mouse está em cima (hover) */
.itens-cardapio .info .pedir:hover {
    background-color: #5e5252; /* Cor de fundo marrom */
    color: white; /* Cor do texto branca */
}


/* Estilo para a seção "Contatos" */
.contatos {
    width: 100%; /* Largura ocupando toda a tela */
    background-color: #1f1e1f; /* Cor de fundo preto escuro */
    display: flex; /* Conteúdo disposto em coluna */
    flex-direction: column; /* Coluna como direção principal */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    font-size: 1.8rem; /* Tamanho da fonte */
    color: white; /* Texto em branco */
    padding-bottom: 4rem; /* Espaço extra na parte inferior */
}

/* Estilo para o cabeçalho <h3> dentro da seção "Contatos" */
.contatos h3 {
    font-size: 10rem; /* Tamanho grande de fonte */
    margin-bottom: 3rem; /* Margem inferior grande */
}

/* Estilo para a classe "contatos-secao" dentro da seção "Contatos" */
.contatos-secao {
    width: 650px; /* Largura máxima de 650px */
    display: flex; /* Conteúdo disposto em linha horizontal */
    justify-content: space-between; /* Espaço uniforme entre os elementos */
    font-size: 2rem; /* Tamanho da fonte */
}

/* Estilo para o elemento <i> dentro da classe "contatos-secao" */
.contatos-secao i {
    margin-right: 1rem; /* Margem direita pequena */
}

/* Estilo para elementos <div> dentro da classe "contatos-secao" */
.contatos-secao div {
    cursor: pointer; /* Cursor do mouse de mão */
    transition: all 200ms ease-in; /* Transição suave de animação */
}

/* Estilo para elementos <div> quando o mouse está em cima (hover) */
.contatos-secao div:hover {
    color: #ffc506; /* Cor do texto amarela */
}

/* Estilo para o rodapé (footer) */
footer {
    height: 25px; /* Altura de 25px */
    background-color: black; /* Cor de fundo preto */
    color: white; /* Texto em branco */
    font-size: 1.4rem; /* Tamanho da fonte */
    display: flex; /* Conteúdo disposto em linha horizontal */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}
